<a href="https://colab.research.google.com/github/sanyog87/PythonWriteUps/blob/main/Pandas_1_McKinsey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Colab Link: https://colab.research.google.com/drive/1_MAJ4RMmeow8ldscbCY47MxOODlnskES?usp=sharing

![image.png]()

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!wget "https://drive.google.com/uc?export=download&id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_" -O mckinsey.csv

--2022-06-28 15:41:33--  https://drive.google.com/uc?export=download&id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
Resolving drive.google.com (drive.google.com)... 142.251.107.102, 142.251.107.113, 142.251.107.101, ...
Connecting to drive.google.com (drive.google.com)|142.251.107.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0s-68-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/35js06dqhvcne7kv6l0rncgrebadcl2m/1656430875000/14302370361230157278/*/1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-06-28 15:41:34--  https://doc-0s-68-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/35js06dqhvcne7kv6l0rncgrebadcl2m/1656430875000/14302370361230157278/*/1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_?e=download
Resolving doc-0s-68-docs.googleusercontent.com (doc-0s-68-docs.googleusercontent.com)... 172.217.203.132, 2607:f8b0:400c:c07::84
Connecting to doc-0s-68-docs.googleusercontent.com (doc-0s-68-docs.googleusercontent.com)|172.217.203.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 83785 (82K) [text/csv]
Saving to: ‘mckinsey.csv’

mckinsey.csv        100%[===================>]  81.82K  --.-KB/s    in 0.001s

2022-06-28 15:41:34 (88.4 MB/s) - ‘mckinsey.csv’ saved [83785/83785]

In [ ]:
df = pd.read_csv("mckinsey.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
df.shape

(1704, 6)

In [ ]:
df.head(15)

        country  year  population continent  life_exp      gdp_cap
0   Afghanistan  1952     8425333      Asia    28.801   779.445314
1   Afghanistan  1957     9240934      Asia    30.332   820.853030
2   Afghanistan  1962    10267083      Asia    31.997   853.100710
3   Afghanistan  1967    11537966      Asia    34.020   836.197138
4   Afghanistan  1972    13079460      Asia    36.088   739.981106
5   Afghanistan  1977    14880372      Asia    38.438   786.113360
6   Afghanistan  1982    12881816      Asia    39.854   978.011439
7   Afghanistan  1987    13867957      Asia    40.822   852.395945
8   Afghanistan  1992    16317921      Asia    41.674   649.341395
9   Afghanistan  1997    22227415      Asia    41.763   635.341351
10  Afghanistan  2002    25268405      Asia    42.129   726.734055
11  Afghanistan  2007    31889923      Asia    43.828   974.580338
12      Albania  1952     1282697    Europe    55.230  1601.056136
13      Albania  1957     1476505    Europe    59.280  1942.284244
14      Albania  1962     1728137    Europe    64.820  2312.888958

In [ ]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [ ]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [ ]:
df.describe(include="object")

            country continent
count          1704      1704
unique          142         5
top     Afghanistan    Africa
freq             12       624

In [ ]:
# Basic operations on columns

In [ ]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [ ]:
df.keys()

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [ ]:
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
type(df["country"])

pandas.core.series.Series

In [ ]:
df[["country", "continent"]].head()

       country continent
0  Afghanistan      Asia
1  Afghanistan      Asia
2  Afghanistan      Asia
3  Afghanistan      Asia
4  Afghanistan      Asia

In [ ]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
len(df["country"].unique())

142

In [ ]:
df['country'].value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [ ]:
df["country"].nunique()

142

In [ ]:
df.rename({"country":"Country"}, axis=1, inplace=True)

In [ ]:
df

          Country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.rename({"Country":"country"}, axis=1, inplace=True)

In [ ]:
df.country # dont use it

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
df.drop("continent", axis=1, inplace=True)

In [ ]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df["New"] = df["life_exp"] + df["year"]
df

          country  year  population  life_exp     gdp_cap       New
0     Afghanistan  1952     8425333    28.801  779.445314  1980.801
1     Afghanistan  1957     9240934    30.332  820.853030  1987.332
2     Afghanistan  1962    10267083    31.997  853.100710  1993.997
3     Afghanistan  1967    11537966    34.020  836.197138  2001.020
4     Afghanistan  1972    13079460    36.088  739.981106  2008.088
...           ...   ...         ...       ...         ...       ...
1699     Zimbabwe  1987     9216418    62.351  706.157306  2049.351
1700     Zimbabwe  1992    10704340    60.377  693.420786  2052.377
1701     Zimbabwe  1997    11404948    46.809  792.449960  2043.809
1702     Zimbabwe  2002    11926563    39.989  672.038623  2041.989
1703     Zimbabwe  2007    12311143    43.487  469.709298  2050.487

[1704 rows x 6 columns]

In [ ]:
df['Own'] = [i for i in range(df.shape[0])]

In [ ]:
df

          country  year  population  life_exp     gdp_cap       New   Own
0     Afghanistan  1952     8425333    28.801  779.445314  1980.801     0
1     Afghanistan  1957     9240934    30.332  820.853030  1987.332     1
2     Afghanistan  1962    10267083    31.997  853.100710  1993.997     2
3     Afghanistan  1967    11537966    34.020  836.197138  2001.020     3
4     Afghanistan  1972    13079460    36.088  739.981106  2008.088     4
...           ...   ...         ...       ...         ...       ...   ...
1699     Zimbabwe  1987     9216418    62.351  706.157306  2049.351  1699
1700     Zimbabwe  1992    10704340    60.377  693.420786  2052.377  1700
1701     Zimbabwe  1997    11404948    46.809  792.449960  2043.809  1701
1702     Zimbabwe  2002    11926563    39.989  672.038623  2041.989  1702
1703     Zimbabwe  2007    12311143    43.487  469.709298  2050.487  1703

[1704 rows x 7 columns]

In [ ]:
df.drop(["New", "Own"], axis=1, inplace=True)

In [ ]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
# Working with Rows

In [ ]:
ser = df["country"]

In [ ]:
ser[4]

'Afghanistan'

In [ ]:
ser[6:15]

6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
Name: country, dtype: object

In [ ]:
ser

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
ser.index = np.arange(1, df.shape[0]+1, step=1)

In [ ]:
ser

1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
           ...
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
1704       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
# Indexes/Labels 
# Explicit Indexes - visble outside, can be anything - numbers, 0-N-1, 1-N, string, characters
# Implicit Indexes - 0-N-1

In [ ]:
ser

1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
           ...
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
1704       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
ser.index[2]

3

In [ ]:
data = pd.Series(["a", "b", "c"], index=[1, 5, 3])
data

1    a
5    b
3    c
dtype: object

In [ ]:
data[1] # indexing uses explicit indices

'a'

In [ ]:
data[1:3] # slicing used implicit indices

5    b
3    c
dtype: object

In [ ]:
data = pd.Series(["a", "b", "c"], index=["x", "y", "z"])
data

x    a
y    b
z    c
dtype: object

In [ ]:
data = pd.Series(["a", "b", "c"], index=[1, 2, 2])
data

1    a
2    b
2    c
dtype: object

In [ ]:
data[2]

2    b
2    c
dtype: object

In [ ]:
# indexing uses explicit indices
# slicing uses implicit indices

In [ ]:
# Indexers - loc and iloc

In [ ]:
# loc - Allows indexing and slicing that always references the explicit index

In [ ]:
data = pd.Series(["a", "b", "c"], index=[1, 2, 2])
data

1    a
2    b
2    c
dtype: object

In [ ]:
data.loc[2]

2    b
2    c
dtype: object

In [ ]:
data.loc[1]

'a'

In [ ]:
data.loc[1:3]

1    a
2    b
2    c
dtype: object

In [ ]:
data.loc[1:2]

1    a
2    b
2    c
dtype: object

In [ ]:
# iloc - Allows indexing and slicing that always references the implicit index

In [ ]:
data.iloc[1]

'b'

In [ ]:
data.iloc[0]

'a'

In [ ]:
data.loc[0] # indexing it gives an error

KeyError: ignored

In [ ]:
data.iloc[0:2] # end is not inclusive just like in Python normal indexing

1    a
2    b
dtype: object

In [ ]:
data.loc[100:105] # slicing it doesnt it give error

Series([], dtype: object)

In [ ]:
df

          country  year  population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df.loc[3]

country       Afghanistan
year                 1967
population       11537966
life_exp            34.02
gdp_cap        836.197138
Name: 3, dtype: object

In [ ]:
df.iloc[3]

country       Afghanistan
year                 1967
population       11537966
life_exp            34.02
gdp_cap        836.197138
Name: 3, dtype: object

In [ ]:
df.index = df.index + 1

In [ ]:
df

          country  year  population  life_exp     gdp_cap
1     Afghanistan  1952     8425333    28.801  779.445314
2     Afghanistan  1957     9240934    30.332  820.853030
3     Afghanistan  1962    10267083    31.997  853.100710
4     Afghanistan  1967    11537966    34.020  836.197138
5     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1700     Zimbabwe  1987     9216418    62.351  706.157306
1701     Zimbabwe  1992    10704340    60.377  693.420786
1702     Zimbabwe  1997    11404948    46.809  792.449960
1703     Zimbabwe  2002    11926563    39.989  672.038623
1704     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df.iloc[[1, 10, 100]]

         country  year  population  life_exp     gdp_cap
2    Afghanistan  1957     9240934    30.332  820.853030
11   Afghanistan  2002    25268405    42.129  726.734055
101   Bangladesh  1972    70759295    45.252  630.233627

In [ ]:
df.loc[[1, 10, 100]]

         country  year  population  life_exp     gdp_cap
1    Afghanistan  1952     8425333    28.801  779.445314
10   Afghanistan  1997    22227415    41.763  635.341351
100   Bangladesh  1967    62821884    43.453  721.186086

In [ ]:
df.iloc[-1]

country         Zimbabwe
year                2007
population      12311143
life_exp          43.487
gdp_cap       469.709298
Name: 1704, dtype: object

In [ ]:
df.loc[-1]

KeyError: ignored

In [ ]:
df.index = df["country"]

In [ ]:
df

                 country  year  population  life_exp     gdp_cap
country
Afghanistan  Afghanistan  1952     8425333    28.801  779.445314
Afghanistan  Afghanistan  1957     9240934    30.332  820.853030
Afghanistan  Afghanistan  1962    10267083    31.997  853.100710
Afghanistan  Afghanistan  1967    11537966    34.020  836.197138
Afghanistan  Afghanistan  1972    13079460    36.088  739.981106
...                  ...   ...         ...       ...         ...
Zimbabwe        Zimbabwe  1987     9216418    62.351  706.157306
Zimbabwe        Zimbabwe  1992    10704340    60.377  693.420786
Zimbabwe        Zimbabwe  1997    11404948    46.809  792.449960
Zimbabwe        Zimbabwe  2002    11926563    39.989  672.038623
Zimbabwe        Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df = pd.read_csv("mckinsey.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df_temp = df.set_index("country")
df_temp

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...         ...       ...       ...         ...
Zimbabwe     1987     9216418    Africa    62.351  706.157306
Zimbabwe     1992    10704340    Africa    60.377  693.420786
Zimbabwe     1997    11404948    Africa    46.809  792.449960
Zimbabwe     2002    11926563    Africa    39.989  672.038623
Zimbabwe     2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [ ]:
df_temp.loc["Afghanistan"]

             year  population continent  life_exp     gdp_cap
country
Afghanistan  1952     8425333      Asia    28.801  779.445314
Afghanistan  1957     9240934      Asia    30.332  820.853030
Afghanistan  1962    10267083      Asia    31.997  853.100710
Afghanistan  1967    11537966      Asia    34.020  836.197138
Afghanistan  1972    13079460      Asia    36.088  739.981106
Afghanistan  1977    14880372      Asia    38.438  786.113360
Afghanistan  1982    12881816      Asia    39.854  978.011439
Afghanistan  1987    13867957      Asia    40.822  852.395945
Afghanistan  1992    16317921      Asia    41.674  649.341395
Afghanistan  1997    22227415      Asia    41.763  635.341351
Afghanistan  2002    25268405      Asia    42.129  726.734055
Afghanistan  2007    31889923      Asia    43.828  974.580338

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
data_dict = {'country': 'India', 'year': 2000,'life_exp':37.08,'population':13500000,'gdp_cap':900.23}

df.append(data_dict, ignore_index=True)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1704        India  2000    13500000       NaN    37.080  900.230000

[1705 rows x 6 columns]

In [ ]:
df.loc[len(df.index)] = ["India", 2000, 1350000, "Asia", 37.080, 900.230000]

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1704        India  2000     1350000      Asia    37.080  900.230000

[1705 rows x 6 columns]

In [ ]:
df.loc[len(df.index)] = {'country': 'India', 'year': 2000,'life_exp':37.08,'population':13500000,'gdp_cap':900.23}

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1704        India  2000     1350000      Asia    37.080  900.230000
1706        India  2000    13500000       NaN    37.080  900.230000

[1706 rows x 6 columns]

In [ ]:
df.iloc[len(df.index)] = {'country': 'India', 'year': 2000,'life_exp':37.08,'population':13500000,'gdp_cap':900.23}

IndexError: ignored

In [ ]:
df.loc[1705] = {'country': 'India', 'year': 2000,'life_exp':37.08,'population':13500000,'gdp_cap':900.23}

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1704        India  2000     1350000      Asia    37.080  900.230000
1706        India  2000    13500000       NaN    37.080  900.230000
1705        India  2000    13500000       NaN    37.080  900.230000

[1707 rows x 6 columns]

In [ ]:
df.drop(1704, axis=0)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1706        India  2000    13500000       NaN    37.080  900.230000
1705        India  2000    13500000       NaN    37.080  900.230000

[1706 rows x 6 columns]

In [ ]:
df.loc[df.duplicated()]

Int64Index([1705], dtype='int64')

In [ ]:
df.drop_duplicates(keep=False, inplace=True)

In [ ]:
df.drop(1704, axis=0, inplace=True)

In [ ]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
# Working with rows and columns

In [ ]:
df.iloc[1:5, 1:4]

   year  population continent
1  1957     9240934      Asia
2  1962    10267083      Asia
3  1967    11537966      Asia
4  1972    13079460      Asia

In [ ]:
df.loc[1:5, "country":"continent"]

       country  year  population continent
1  Afghanistan  1957     9240934      Asia
2  Afghanistan  1962    10267083      Asia
3  Afghanistan  1967    11537966      Asia
4  Afghanistan  1972    13079460      Asia
5  Afghanistan  1977    14880372      Asia

In [ ]:
df.iloc[1:10:2]

       country  year  population continent  life_exp     gdp_cap
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
5  Afghanistan  1977    14880372      Asia    38.438  786.113360
7  Afghanistan  1987    13867957      Asia    40.822  852.395945
9  Afghanistan  1997    22227415      Asia    41.763  635.341351

In [ ]:
# Built-ijn operations in pandas

In [ ]:
df["life_exp"].mean()

59.474439366197174

In [ ]:
df["life_exp"].sum()

101344.44467999999

In [ ]:
df["life_exp"].sum() / df["life_exp"].count()

59.474439366197174

In [ ]:
df["life_exp"].max()

82.603

In [ ]:
# Sorting
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [ ]:
df.sort_values("year", ascending=False).sort_values("life_exp") # wrong way

               country  year  population continent  life_exp       gdp_cap
1292            Rwanda  1992     7290203    Africa    23.599    737.068595
0          Afghanistan  1952     8425333      Asia    28.801    779.445314
552             Gambia  1952      284320    Africa    30.000    485.230659
36              Angola  1952     4232095    Africa    30.015   3520.610273
1344      Sierra Leone  1952     2143249    Africa    30.331    879.787736
...                ...   ...         ...       ...       ...           ...
1487       Switzerland  2007     7554661    Europe    81.701  37506.419070
695            Iceland  2007      301931    Europe    81.757  36180.789190
802              Japan  2002   127065841      Asia    82.000  28604.591900
671   Hong Kong, China  2007     6980412      Asia    82.208  39724.978670
803              Japan  2007   127467972      Asia    82.603  31656.068060

[1704 rows x 6 columns]

In [ ]:
df.sort_values(["year", "life_exp"], ascending=[False, True])

           country  year  population continent  life_exp       gdp_cap
1463     Swaziland  2007     1133066    Africa    39.613   4513.480643
1043    Mozambique  2007    19951656    Africa    42.082    823.685621
1691        Zambia  2007    11746035    Africa    42.384   1271.211593
1355  Sierra Leone  2007     6144562    Africa    42.568    862.540756
887        Lesotho  2007     2012649    Africa    42.592   1569.331442
...            ...   ...         ...       ...       ...           ...
408        Denmark  1952     4334000    Europe    70.780   9692.385245
1464        Sweden  1952     7124673    Europe    71.860   8527.844662
1080   Netherlands  1952    10381988    Europe    72.130   8941.571858
684        Iceland  1952      147962    Europe    72.490   7267.688428
1140        Norway  1952     3327728    Europe    72.670  10095.421720

[1704 rows x 6 columns]

In [ ]:
# Creating the dataframe from scratch

In [ ]:
pd.Series([10, 20, 30], index=[2, 3, 4])

2    10
3    20
4    30
dtype: int64

In [ ]:
# Row-oriented way

In [ ]:
pd.DataFrame([[10, 20], [30, 40]], columns=["A", "B"])

    A   B
0  10  20
1  30  40

In [ ]:
pd.DataFrame([[10, 20]], columns=["A", "B"])

    A   B
0  10  20

In [ ]:
# Column-oriented way

In [ ]:
pd.DataFrame({"A":[10, 30], "B": [20, 40]})

    A   B
0  10  20
1  30  40

#### Optional Discussion

In [ ]:
X = np.arange(12).reshape((3, 4))
row = np.array([0, 1, 2])
mask = np.array([1, 0, 1, 0], dtype=bool)
# print(X[row[:, np.newaxis], mask]) 
# didnt understand, how to interpret the slicing in print statement.

In [ ]:
row

array([0, 1, 2])

In [ ]:
X

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
row[:, np.newaxis]

array([[0],
       [1],
       [2]])

In [ ]:
X[row[:, np.newaxis], mask]

array([[ 0,  2],
       [ 4,  6],
       [ 8, 10]])

In [ ]:
row

array([0, 1, 2])

In [ ]:
mask

array([ True, False,  True, False])

In [ ]:
print(X[row[:, np.newaxis], mask])

[[ 0  2]
 [ 4  6]
 [ 8 10]]

In [ ]:
print(X[row, mask])

IndexError: ignored

https://stackoverflow.com/questions/46124469/shape-mismatch-indexing-arrays-could-not-be-broadcast-together-with-shapes

In [ ]:
row[:, np.newaxis]

array([[0],
       [1],
       [2]])

In [ ]:
a = np.array((1,2,3, np.array([10,11])),dtype=object)
a

array([1, 2, 3, array([10, 11])], dtype=object)

In [ ]:
b = a.copy()

In [ ]:
np.shares_memory(a[3], b[3])

True

In [ ]:
np.shares_memory(a[1], b[1])

False

In [ ]:
np.shares_memory(a, b)

False

In [ ]:
a[3][0] = 100

In [ ]:
a

array([1, 2, 3, array([100,  11])], dtype=object)

In [ ]:
b

array([1, 2, 3, array([100,  11])], dtype=object)